<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Listado de Asistencias</h3>
    <ion-list>
      <ion-item *ngFor="let asistencia of asistencias">
        <ion-label>
          <h2>{{ asistencia.className }}</h2>
          <p>Asignatura: {{ asistencia.subject }}</p>
          <p>Fecha: {{ asistencia.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>