<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-estudiantes"></ion-back-button>
    </ion-buttons>
    <img src="assets/DuocLogo.png" alt="No disponible" id="duoclogo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Listado de Asistencias</h3>
    <ion-list>
      <ion-item *ngFor="let asistencia of asistencias">
        <ion-label>
          <h2 class="asignatura-text">{{ asistencia.className }}</h2>
          <p class="asignatura-text">Asignatura: {{ asistencia.subject }}</p>
          <p class="asignatura-text">Fecha: {{ asistencia.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>