<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/DuocLogo.png" alt="No disponible" id="duoclogo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Bienvenido, Estudiante</h3>
    <ion-list>
      <ion-item>
        <ion-button expand="full" (click)="navigateTo('mis-asignaturas')">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          Mis Asignaturas
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="navigateTo('mi-asistencia')">
          <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
          Mis Asistencias
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="navigateTo('registrar-asistencia')">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Registrar Asistencia
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="navigateTo('cambiar-clave')">
          <ion-icon slot="start" name="key-outline"></ion-icon>
          Cambiar Clave
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" color="danger" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>