#duoclogo{
    width: 100px;
    height: auto;
}
#container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#h3registrQR{
    text-align: center;
    margin-bottom: 20px;
}

ion-content {
    --background: url('/assets/Duoc.jpg') no-repeat center center / cover;
}

ion-item {
    margin-bottom: 16px;
  }
  
  ion-input {
    --padding-start: 0;
    --padding-end: 0;
    --min-height: 44px;
    --height: auto;
    --label-margin-bottom: 8px;
    --width: 100%;
    font-size: 14px;
  }
  
  ion-label {
    --padding-bottom: 8px;
    font-size: 14px;
  }