<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <img src="assets/DuocLogo.png" alt="No disponible" id="duoclogo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <h3 id="h3registrQR">Registrar asistencia</h3>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Registrar Asistencia</ion-title>
      </ion-toolbar>
    </ion-header>
    <zxing-scanner (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre de la Clase</ion-label>
        <ion-input formControlName="className" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Asignatura</ion-label>
        <ion-input formControlName="subject" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Día</ion-label>
        <ion-input formControlName="date" readonly></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!qrScanned">Registrar</ion-button>
    </form>
  </div>
</ion-content>