<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Cambiar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Contraseña actual</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetir nueva contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" class="ion-margin-top">Cambiar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>