<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Main Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Bienvenido, Profesor</h3>
    <ion-button (click)="mostrarQr()">
      Mostrar QR
    </ion-button>
    <div *ngIf="SwQr" class="qr-container">
      <img src="assets/Untitled.png" alt="Código QR" />
    </div>
    <ion-button expand="full" color="danger" (click)="logout()">
      Logout
    </ion-button>
    <h3>Listado de Estudiantes y Asistencias</h3>
    <ion-list>
      <ion-item *ngFor="let asistencia of asistencias">
        <ion-label>
          <h2>{{ asistencia.className }}</h2>
          <p>Estudiante: {{ asistencia.studentName }}</p>
          <p>Asignatura: {{ asistencia.subject }}</p>
          <p>Fecha: {{ asistencia.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>